body{
    background-color: antiquewhite;
    color: rgb(34, 15, 89);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
}

.title-img{
    width: 99vw;
    max-width: fit-content;
    margin-bottom: 0px;
    padding: 0px;
}


header{
    font-size: 2cm;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
    padding-bottom: -20px;
}

.divider{
    border-bottom: 6px dotted rgb(34, 15, 89);
    margin: 5px 0;
}

.select{
    font-size: large;
    font-weight: 400;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(34, 15, 89);
    text-align: center;
    border-bottom: 0px;
}

h5{
    padding-top: 0;
    text-align: center;
}

h2 , h4{
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    padding-top: -20px;
    padding-bottom: 0px;
}

#van-picture{
    width: 430px;
    height: 225px;
    max-width:600px;
    max-height: 225px;
    margin-bottom: 0px;
}

h3{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
}

#van-picture{
    opacity: 95%;
}

h1 , h2, h3 , h4 , h5{
    font-family: sf pro display;
}

h4{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
}

h5{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}


h2{
    padding-right: 7px;
}

h6{
    align-items: center;
    display: block;
    margin-bottom: 25px;
    margin-top: 0px;
    padding-top: 0px;
}

#button1{
    scale: 85%;
}

#button2, #button3{
    scale: 85%}

h7{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
}

#button1{
    border-top: 0;
    margin-top: 0;
    background-color: rgb(34, 15, 89);
    color: antiquewhite;
    font-size: x-large;
}

#button2{
    border-top: 0;
    margin-top: 25px;
    padding-top: 0;
    background-color: rgb(34, 15, 89);
    color: antiquewhite;
    font-size: x-large;
    margin-bottom: 0;
    padding-bottom: 0;
}


#button3{
    background-color: rgb(34, 15, 89);
    color: antiquewhite;
    margin-bottom: 20px; 
    padding-top: 0;
    margin-top: 0;
    border-top: 0; 
    font-size: x-large;
    position: relative;
}

a  {
    color:antiquewhite ;
}
a:visited {
    color:blueviolet;
}
a:hover {
    color:blueviolet ;
}
a:active {
    color:coral;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
}

.select{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}